<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Zijun Zhao</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/{{css}}">
  </head>

  <body>
      <table id = "header">
        <tr>
          <td class="header_elems"width="70%" id="name">
            Zijun Zhao
          </td>
          <td class="header_elems others" width="10%" id="abotme">
            About Me
          </td>
          <td class="header_elems others" width="10%" id="projects">
            Projects
          </td>
          <td class="header_elems others" width="10%" id="resume">
            Resume
          </td>
        </tr>
      </table>
      <div id="page_content">
        {{{body}}}
      </div>
  </body>
  <script src="/js/main.js"></script>
</html>
