<div>
  <h1>Hi! I'm Zijun Zhao</h1>
</div>
<div>
  <h3>Please choose what version of this website you wish to see:</h3>
  <div>
    <h4>Lite</h4>
    <p>If you want to know the basic information fast and without distraction</p>
  </div>
  <div>
    <h4>The Full Course</h4>
    <p>Filled with "meaningless" styles and animations intended for front-end skills demonstration</p>
  </div>
</div>
