<div class="img-wrapper">
  <img src="https://source.unsplash.com/1600x900/?nature,water" />
</div>

<div class="container center">

  <div class="row">
      <div class = "col-xs-6 card">
        <h3>Please choose what version of this website you wish to see:</h3>

        <div class = "row">
          <div class = "col-xs-6 clickable lite">
            <h4>Lite</h4>
            <p>If you want to know the basic information fast and without distraction</p>
          </div>
          <div class = "col-xs-6 clickable full">
            <h4>The Full Course</h4>
            <p>Filled with "meaningless" styles and animations intended for front-end skills demonstration</p>
          </div>
        </div>

    </div>

    <div class = "col-xs-6 card name">
      <h1>Hi! I'm Zijun Zhao</h1>
    </div>
  </div>
</div>
