<div id="profile_container">
  <h2><span>Hi</span>, I'm Zijun Zhao!</h2>
  <br/>
  <h4>I enjoy web/application development.
    Building a project from scratch excites me.
    I aim to make the world a better place through technology and innovation.
  </h4>
  <div id = "list_container">

    <div class="list">
      <h4>Languages:</h4>
      <ul>
        <li>C</li>
        <li>Java</li>
        <li>HTML/CSS</li>
        <li>Javascript</li>
        <li>C++</li>
        <li>Python</li>
      </ul>
    </div>

    <div class="list">
    <h4>Skills:</h4>
      <ul>
        <li>Node.js</li>
        <li>Handlebars</li>
        <li>Unity</li>
        <li>Android Studio</li>
        <li>MongoDB</li>
        <li>Linux</li>
      </ul>
    </div>

  </div>
  <h4>You can contact me through my Gmail <a href="#" onclick="return false;">zijunzhao1998@gmail.com</a>
    or my personal email: <a href="#" onclick="return false;">zijun_zhao1998@163.com</a></h4>
</div>
<div id="icons_div">
  <img class="icons" id="facebook" src="/icons/Facebook.svg" alt="Facebook"/>
  <img class="icons" id="ins" src="/icons/instagram.svg" alt="Instagram"/>
  <img class="icons" id="linkedin" src="/icons/linkedin.svg" alt="LinkedIn"/>
  <img class="icons" id="github" src="/icons/github.svg" alt="Github"/>
</div>

<script src="/js/profile.js"></script>
