<div id="wrapper">

  <div id="menu">
    <div class="menu_text" id="click_personal">Personal</div>
    <div class="menu_text" id="click_school">School</div>
    <div class="menu_text" id="click_games">Games</div>
  </div>
  <!--//*****************comment to separate the two containers**************************-->

  <div id="project_container">
    <!--**************personal*****************-->
    <h3 class="jump" id="personal">Personal</h3>

    <div class="item_container">

      <div class="card" id="usocial">
        <img src="/imgs/Usocial.png"  alt="img for usocial"/>
        <div>
          <h4>USocial</h4>
          <p>A social platform for University students to find people to go to local events together</p>
        </div>
      </div>

      <div class="card" id="wish">
        <img src="/imgs/deseos.png"  alt="img for wish"/>
        <div>
          <h4>Wish!</h4>
          <p>A chrome extension for gift lists of friends</p>
        </div>
      </div>

      <div class="card" id="slack_bot">
        <img src="/imgs/slack_bot.png"  alt="img for slack scheduler bot"/>
        <div>
          <h4>Slack Scheduler Bot</h4>
          <p>A slack bot that can schedule meetings</p>
        </div>
      </div>

      <div class="card">
        <img src="/imgs/white.png"  alt="multi-person text editor"/>
        <div>
          <h4>Multi-person Text Editor</h4>
          <p>An electron desktop program that allow multiply people to edit files simultaneously</p>
        </div>
      </div>

    </div>

    <!--//**************school*******************-->
    <h3 class="jump" id="school">School</h3>
    <div class="item_container">

      <div class="card" id="calendar">
        <img src="imgs/calendar.png"  alt="img for online calendar"/>
        <div>
          <h4>Online Calendar</h4>
          <p>A multi-person online calendar</p>
        </div>
      </div>

      <div class="card">
        <img src="/imgs/white.png"  alt="img for shopping website"/>
        <div>
          <h4>Online shopping website</h4>
          <p>A mock shopping website that uses node.js, Handlebars, and MongoDB.</p>
        </div>
      </div>

      <div class="card" id="richArduino">
        <img src="/imgs/RichArduino.png"  alt="img for richArduino"/>
        <div>
          <h4>RichArduino</h4>
          <p>Arduino-like FPGA with bluetooth shield</p>
        </div>
      </div>



    </div>

    <!--**************games******************-->
    <h3 class="jump" id="games">Games</h3>

    <div class="item_container">

      <div class="card" id="lifegame">
        <img src="/imgs/day.png"  alt="img for android game"/>
        <div>
          <h4>A Short Game About Life</h4>
          <p>A pure Android game that incoorperates haptic touch</p>
        </div>
      </div>

      <div class="card" id="WashU_combat">
        <img src="/imgs/WashU_combat.png"  alt="img for washu combat"/>
        <div>
          <h4>WashU Combat!</h4>
          <p>A 2D fighting game</p>
        </div>
      </div>

      <div class="card" id="music_game">
        <img src="/imgs/music.png"  alt="img for the music game"/>
        <div>
          <h4>3D music game</h4>
          <p>A 3D music game that try to explore different game mechanisms</p>
        </div>
        <!-- link to google doc video https://drive.google.com/file/d/1rAnJezgJ9sb-vzvFaXbrkvSMs6ooIm_d/view?usp=drive_open--->
      </div>

    </div>

  </div>

</div>

<script src="/js/projects.js"></script>
