#profile_container{
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
}

span{
  color: rgb(247, 143, 233);
}

ul{
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: rgb(247, 143, 233);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h2, h4, li{
  font-family: Helvetica;
  color: #585959;
}

#icons_div{
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  margin-top: 40px;
}

#list_container{
  display: flex;
  flex-direction: row;
}

.list{
  flex-grow: 1;
}

li{
  font-size: 17px;
}

h4{
  margin-bottom: 20px;
}

a{
  color: rgb(247, 143, 233);
}

.icons{
  width: 30px;
  height: 30px;
  margin: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.3s;
}

.icons:hover{
    -webkit-filter: none;
    filter: none;
}
