#wrapper{
  width: 100%;
}

#menu{
  min-width: 17%;
  overflow-x: hidden;
  height: 100%;
  margin-left: 3%;
  top:0;
  margin-top: 2px;
  padding-top: 120px;
  position: fixed;
  text-align: center;
}

#project_container{
  margin-left: 30%;
  margin-bottom: 10%;
  margin-right: 3%;
  padding-top: 20px;
}

:target::before{
  content: "";
  display: block;
  padding-top: 140px;
  margin-top: -140px;
}

.item_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jump{
  color: rgba(107, 191, 237, 0.85);
}

.menu_text{
  padding: 15px;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: 550;
  transition: 0.3s;
  cursor: pointer;
}

.menu_text:hover{
  color: white;
  background-color: rgba(107, 191, 237, 0.7);
  border-radius: 1px;
}

.card{
  width: 24rem;
  border-radius: 4px;
  border: 1px solid rgba(173, 173, 173, 0.7);
  margin:10px;
  cursor: pointer;
}

.card>img{
  max-width: 100%;
  max-height: 16rem;
  width: auto;
  height: auto;
  margin: auto;
}

.card>div{
  padding: 17px;
}

h3{
  font-family: Helvetica;
  color: #585959;
  font-weight: 600;
}
