<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Zijun Zhao</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <p>Hello world!</p>
    {{{body}}}
  </body>
</html>
